<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kubotaku.android.code4kyoto5374">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- for Google Place API -->
        <!-- Please change your API_KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgCWT6NBMr7sKbQYQK9jBNYEzHAEtvrgA" />

        <!-- メイン画面 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ごみ分別辞典 -->
        <activity
            android:name=".SegregationActivity"
            android:label="ごみ分別辞典" />
        <activity android:name=".HowToDisposeActivity" />

        <!-- ごみ捨てアラーム通知サービス -->
        <service
            android:name=".util.AlarmService"
            android:exported="false" />

        <!-- 端末起動時アラーム再設定用レシーバー -->
        <receiver
            android:name=".util.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- アプリアップデート時アラーム再設定用レシーバー -->
        <receiver
            android:name=".util.UpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- ごみ回収日ウィジェット -->
        <receiver android:name=".widget.GarbageCollectDayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/garbage_collect_day_widget_info" />
        </receiver>

        <service
            android:name=".widget.GarbageCollectDayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>